include README.md LICENSE CITATION.cff .zenodo.json codemeta.json
recursive-include src/histoanalyzer/assets *
recursive-include docs *.md
recursive-include scripts *
recursive-include build *

recursive-include src/histoanalyzer/resources/classifiers *.json
recursive-include classifiers *.json *.md
